.side-bar
  .side-bar__header
    .top-items
      .top-items__name
        masa
      .top-items__icon
        = link_to "#", class: "top-items__icon__list" do
          = icon('fas', 'edit')
        = link_to "#", class: "top-items__icon__list" do
          = icon('fas', 'cog')
  .side-bar__group
    =link_to "#", class: "group-menu" do      
      %p.group-menu__name
        techchamp
      %p.group-menu__message
        まだメッセージがありません